html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
}

.left p {
    font-size: xx-large;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.right {
    height: 100%;
    width: 50%;
}

.right p {
    font-size: x-large;
    margin: 0;
    padding: 10px;
}

img {
    width: 100%;
}